@using Microsoft.AspNetCore.Authorization
@using SoCFeedback.Enums
@model IEnumerable<Category>
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Categories";
}

<h2>Categories</h2>

<p><a asp-action="Create">Create a New Category</a></p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        @if (!ViewBag.YearPublished)
                        {
                            switch (item.Status)
                            {
                                case Status.Archived:
                                    @:|
                                    <a asp-action="Restore" asp-route-id="@item.Id">Restore</a>
                                    break;
                                case Status.Active:
                                    @:|
                                    <a asp-action="Archive" asp-route-id="@item.Id">Archive</a>
                                    break;
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>