@model Category

@{
    ViewData["Title"] = "Restore Category";
}

<h2>Restore</h2>
<hr/>
<h3>Are you sure you want to restore this category?</h3>

<h5 class="text-danger">This action will mark the archived category as active and available for use when working with the questions. Questions under this category will be again available for addition to the module questionnaires. This affects currently pending questionnaires.</h5>
<div>
    <hr/>
    <h4>Category</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>

    <form asp-action="Restore" asp-route-id="@Model.Id">
        <div class="form-group">
            <input type="submit" value="Restore" class="btn btn-primary"/>
            <a asp-action="Index" class="float-xs-right">Back to List</a>
        </div>
    </form>
</div>