@model SoCFeedback.Models.Year

@{
    ViewData["Title"] = "Archive Year Form";
}

<h2>Archive</h2>

<h3 class="text-danger">Once archived this year form will be no longer visible to students and closed to any further answers by students.</h3>
<h3>Archiving should be performed at the start of new semester.</h3>
<hr />
<div>
    <h4>Year Form</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Year1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    <div class="col-md-12">
        <hr />
        <h4>Modules</h4>
        <hr />
        @for (int j = 0; j < Model.Levels.Count; j++)
        {
            <span class=" text-primary h4 form-text">
                @Html.DisplayFor(m => m.Levels[j].Title)
            </span>
            <ul class="list-group">
                @for (int i = 0; i < Model.Modules.Count; i++)
                {
                    if (Model.Modules[i].LevelId == Model.Levels[j].Id)
                    {
                        <li class=" list-group-item col-md-12">

                            @Html.DisplayFor(m => m.Modules[i].Code) @Html.DisplayFor(m => m.Modules[i].Title)
                        </li>
                    }
                }
            </ul>
        }
    </div>
    <hr />
    <form asp-action="Archive">

        <div class="col-md-12">
            <hr />
            <input type="submit" value="Archive" class="btn btn-primary" /> |
            <a asp-action="Index">Back to List</a>
            <hr />
        </div>
    </form>
</div>