@model Year

@{
    ViewData["Title"] = "Archive Year Form";
}

<h2>Archive</h2>

<h3 class="text-danger">Once archived this year form will no longer be displayed on the main page and will no longer accept feedback, this action cannot be undone.</h3>
<h3>Archiving should be performed at the start of new semester, but it's not mandatory as creating a new year form will automatically archive existing ones.</h3>
<hr/>
<div>
    <h4>Year Form</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Year1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcademicYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    <div class="row">
        <div class="col-md-12">
            <hr />
            <h4>Modules</h4>
            <hr />
            @for (var j = 0; j < Model.Levels.Count; j++)
            {
                <span class=" text-primary h4 form-text">
                    @Html.DisplayFor(m => m.Levels[j].Title)
                </span>
                <ul class="list-group">
                    @for (var i = 0; i < Model.Modules.Count; i++)
                {
                    if (Model.Modules[i].LevelId == Model.Levels[j].Id)
                    {
                            <li class=" list-group-item col-md-12">

                                @Html.DisplayFor(m => m.Modules[i].Code) @Html.DisplayFor(m => m.Modules[i].Title)
                            </li>
                        }
                    }
                </ul>
            }
        </div>
    </div>
    <form asp-action="Archive"asp-route-id="@Model.Id">
        <div class="form-group">
            <br/>
            <input type="submit" value="Archive" class="btn btn-primary"/>
            <a asp-action="Index" class="float-xs-right">Back to List</a>
        </div>
    </form>
</div>