@using Microsoft.AspNetCore.Authorization
@using SoCFeedback.Enums
@model Year
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Year Form Details";
}

<h2>Details</h2>

<div>
    <h4>Year Form</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Year1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcademicYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    <div class="row">
        <div class="col-md-12">
            <hr/>
            <h3>Running Modules</h3>
            @for (var j = 0; j < Model.Levels.Count; j++)
            {
                <span class=" text-primary h4 form-text">
                    @Html.DisplayFor(m => m.Levels[j].Title)
                </span>
                <ul class="list-group">
                    @for (var i = 0; i < Model.Modules.Count; i++)
                    {
                        if (Model.Modules[i].LevelId == Model.Levels[j].Id)
                        {
                            <li class=" list-group-item ">
                                <a asp-action="Details" asp-controller="Modules" asp-route-id="@Model.Modules[i].Id"> @Html.DisplayFor(m => m.Modules[i].Code) @Html.DisplayFor(m => m.Modules[i].Title) </a>
                                @if (Model.Status == YearStatus.Pending && !await AuthorizationService.AuthorizeAsync(User, "TeachingStaff"))
                                {
                                    <a class="btn btn-sm btn-success float-sm-right" asp-action="Questions" asp-controller="Modules" asp-route-id="@Model.Modules[i].Id" asp-route-yid="@Model.Id" title="Module Questions"> Module Questions</a>
                                }
                                @if (Model.Status != YearStatus.Pending)
                                {
                                    <a class="btn btn-sm btn-primary float-sm-right" asp-action="Feedback" asp-controller="Modules" asp-route-id="@Model.Modules[i].Id" asp-route-yid="@Model.Id" title="Module Feedback"> Module Feedback</a>
                                }
                            </li>
                        }
                    }
                </ul>
            }
        </div>
    </div>
</div>

<div class="col-md-12">
    <br/>
    @if (Model.Status != YearStatus.Published && await AuthorizationService.AuthorizeAsync(User, "Admin"))
    {
        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    <a class="float-sm-right" asp-action="Index">Back to List</a>
  
</div>