@model Year
@{
    ViewData["Title"] = "Home Page";
}
@if (Model != null)
{
    <h2>Academic Year @Html.DisplayFor(model => model.AcademicYear) </h2>

    <div>
        <div class="row">
            <div class="col-md-12">
                <hr/>
                @for (var j = 0; j < Model.Levels.Count; j++)
                {
                    <span class="h4 form-text">
                        @Html.DisplayFor(m => m.Levels[j].Title)
                    </span>
                    <ul class="list-group">
                        @for (var i = 0; i < Model.Modules.Count; i++)
                        {
                            if (Model.Modules[i].LevelId == Model.Levels[j].Id)
                            {
                                <li class=" list-group-item ">
                                    <a asp-action="Module" asp-controller="Home" asp-route-id="@Model.Modules[i].Id" asp-route-yid="@Model.Id"> @Html.DisplayFor(m => m.Modules[i].Code) @Html.DisplayFor(m => m.Modules[i].Title) </a>
                                </li>
                            }
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
}
else
{
    <h2>Module feedback forms for this academic year haven't been published yet, please check back closer to the end of semester.</h2>
}