@model SoCFeedback.Models.Question

@{
    ViewData["Title"] = "Archive Question";
}

<h2>Archive</h2>
<hr />
<h3>Are you sure you want to Archive this question?</h3>
<h5>Archived questions will not show up when creating or editing modules.</h5>
<div>
    <hr />
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Optional)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Optional)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuestionNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuestionNumber)
        </dd>
    </dl>
    
    <form asp-action="Archive">
        <div class="form-group col-sm-12">
            <input type="submit" value="Archive" class="btn btn-primary" />
            <a asp-action="Index" class="float-right">Back to List</a>
        </div>
    </form>
</div>