@using Microsoft.AspNetCore.Authorization
@model Question
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Question Details";
}

<h2>Question Details</h2>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Optional)
        </dt>
        <dd>
            @{var temp = Model.Optional.ToString();}
            @Html.DisplayFor(model => temp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuestionNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuestionNumber)
        </dd>
    </dl>
</div>
<div >
    @if (!(await AuthorizationService.AuthorizeAsync(User, "LecturerLimited") && !Model.Optional))
    {
        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    <a class="float-xs-right" asp-action="Index">Back to List</a>
</div>