@using Microsoft.AspNetCore.Authorization
@using SoCFeedback.Enums
@model IEnumerable<Question>
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Questions Index";
}

<h2>Questions</h2>
<p>
    <a asp-action="Create">Create a New Question</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Question1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Optional)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuestionNumber)
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var temp = item.Optional.ToString();
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => temp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionNumber)
                    </td>
                    <td>
                        @if (!(await AuthorizationService.AuthorizeAsync(User, "LecturerLimited") && !item.Optional))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            @:|
                        }
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                        @if (!await AuthorizationService.AuthorizeAsync(User, "LecturerLimited") && !ViewBag.YearPublished)
                        {
                            switch (item.Status)
                            {
                                case Status.Archived:
                                    @:|
                                    <a asp-action="Restore" asp-route-id="@item.Id">Restore</a>
                                    break;
                                case Status.Active:
                                    <a asp-action="Archive" asp-route-id="@item.Id">Archive</a>
                                    break;
                            }
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>