@model Question

@{
    ViewData["Title"] = "Restore Question";
}

<h2>Restore</h2>
<hr/>
<h3>Are you sure you want to restore this question?</h3>
<h5 class="text-danger">Restored questions will be marked as active and once again be available for module questionnaires.</h5>
<div>
    <hr/>
    <h4>Question</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Optional)
        </dt>
        <dd>
            @{var temp = Model.Optional.ToString();}
            @Html.DisplayFor(model => temp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuestionNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuestionNumber)
        </dd>
    </dl>

    <form asp-action="Restore"asp-route-id="@Model.Id">
        <div class="form-group col-sm-12">
            <input type="submit" value="Restore" class="btn btn-primary"/>
            <a asp-action="Index" class="float-sm-right">Back to List</a>
        </div>
    </form>
</div>