@model Module

@{
    ViewData["Title"] = "Archive Module";
}

<h2>Archive</h2>
<hr/>
<h3>Are you sure you want to archive this module?</h3>
<h5 class="text-danger">Archived modules will not be available for new academic year forms and will be removed from pending academic year form. Published or Archived academic year forms will not be affected.</h5>
<div>
    <hr/>
    <h4>Module</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Supervisor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Supervisor.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            <textarea readonly="readonly" class="form-control autosize" asp-for="Description"></textarea>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>

    <form asp-action="Archive"asp-route-id="@Model.Id">
        <div class="form-group col-sm-12">
            <input type="submit" value="Archive" class="btn btn-primary"/>
            <a asp-action="Index" class="float-sm-right">Back to List</a>
        </div>
    </form>
</div>