@model Module

@{
    ViewData["Title"] = "Restore Module";
}

<h2>Restore</h2>
<hr/>
<h3>Are you sure you want to restore this module?</h3>
<h5 class="text-danger">This will mark the module as active and available for the new academic year forms.</h5>
<div>
    <hr/>
    <h4>Module</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Supervisor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Supervisor.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            <textarea readonly="readonly" id="descInput" class="form-control autosize" asp-for="Description"></textarea>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>

    <form asp-action="Restore"asp-route-id="@Model.Id">
        <div class="form-group">
            <input type="submit" value="Restore" class="btn btn-primary"/>
            <a asp-action="Index" class="float-xs-right">Back to List</a>
        </div>
    </form>
</div>

<script type="text/javascript">
    window.addEventListener('resize', go);
    function go() {
        $('#descInput').trigger('input');
    }
</script>