@model SoCFeedback.Models.Level

@{
    ViewData["Title"] = "Archive Level";
}

<h2>Archive</h2>
<hr />
<h3>Are you sure you want to archive this level?</h3>

<h5>Archived levels will not show up when creating year questionaires.</h5>
<div>
    <hr />
    <h4>Level</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderingNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderingNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>

    <form asp-action="Archive">
        <div class="form-actions no-color">
            <input type="submit" value="Archive" class="btn btn-primary" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>